Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: publish prerelease
  lerna.json
  package.json
  packages/babel-types/package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write

fix: publish hooks (maybe)
  lerna.json
  package.json
Due: prettier --write

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write

fix: publish hooks (again)
  package.json
Due: prettier --write

fix: only use minprops on runtime code
  babel.config.js
  package-lock.json
  package.json
  packages/marko/src/runtime/components/renderer.js
  packages/translator-default/src/index.js
  packages/translator-default/src/util/key-manager.js
Due: prettier --write, eslint

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write

fix: use non-global context, set preserve false under new rerender roots
  packages/marko/src/core-tags/components/preserve-tag.js
  packages/marko/src/runtime/components/ComponentDef.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/beginComponent-browser.js
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/helpers/data-marko.js
Due: prettier --write, eslint

fix: improve node locations in sourcemaps
  packages/marko/src/compiler/index.js
  packages/translator-default/src/cdata/index[html].js
  packages/translator-default/src/cdata/index[vdom].js
  packages/translator-default/src/comment/index[html].js
  packages/translator-default/src/declaration/index[html].js
  packages/translator-default/src/document-type/index[html].js
  packages/translator-default/src/placeholder/index[html].js
  packages/translator-default/src/placeholder/index[vdom].js
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/tag/attribute/directives/class.js
  packages/translator-default/src/tag/attribute/directives/style.js
  packages/translator-default/src/tag/attribute/modifiers/scoped.js
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/tag/dynamic-tag.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/src/taglib/core/conditional/util.js
  packages/translator-default/src/taglib/core/macro/translate.js
  packages/translator-default/src/taglib/core/translate-while.js
  packages/translator-default/src/taglib/migrate/all-templates.js
  packages/translator-default/src/text/index[html].js
  packages/translator-default/src/text/index[vdom].js
  packages/translator-default/src/util/with-previous-location.js
Due: prettier --write, eslint

fix: improve node locations in sourcemaps (#1512)
  packages/marko/src/compiler/index.js
  packages/translator-default/src/cdata/index[html].js
  packages/translator-default/src/cdata/index[vdom].js
  packages/translator-default/src/comment/index[html].js
  packages/translator-default/src/declaration/index[html].js
  packages/translator-default/src/document-type/index[html].js
  packages/translator-default/src/placeholder/index[html].js
  packages/translator-default/src/placeholder/index[vdom].js
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/tag/attribute/directives/class.js
  packages/translator-default/src/tag/attribute/directives/style.js
  packages/translator-default/src/tag/attribute/modifiers/scoped.js
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/tag/dynamic-tag.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/src/taglib/core/conditional/util.js
  packages/translator-default/src/taglib/core/macro/translate.js
  packages/translator-default/src/taglib/core/translate-while.js
  packages/translator-default/src/taglib/migrate/all-templates.js
  packages/translator-default/src/text/index[html].js
  packages/translator-default/src/text/index[vdom].js
  packages/translator-default/src/util/with-previous-location.js
Due: prettier --write, eslint

test: add test for stateful legacy widget with key under preserve
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/components/counter/index.js
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/components/counter/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/index.marko
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/test.js
Due: prettier --write, eslint

refactor: use triple underscore property
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
Due: prettier --write, eslint

Fix preserve context (#1513)
  packages/marko/src/core-tags/components/preserve-tag.js
  packages/marko/src/runtime/components/ComponentDef.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/beginComponent-browser.js
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/helpers/data-marko.js
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/components/counter/index.js
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/components/counter/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/index.marko
  packages/marko/test/components-browser/fixtures-deprecated/preserve-with-nested-rerender-root/test.js
Due: prettier --write, eslint

chore(release): 4.18.49
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: set preserve false under new rerender roots (#1513) fix: use non-global context
  packages/marko/src/core-tags/components/preserve-tag.js
  packages/marko/src/runtime/components/ComponentDef.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/beginComponent-browser.js
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/helpers/data-marko.js
Due: prettier --write, eslint

fix: non standard template literals filter out null & undefined
  packages/marko/src/core-tags/migrate/all-templates/non-standard-template-literals.js
  packages/marko/test/compiler/fixtures-html-deprecated/attr-escape/expected.js
  packages/marko/test/compiler/fixtures-html-deprecated/attr-placeholder-escapeXml/expected.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/components/test.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/prompts.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/template.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/components/test.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/prompts.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/template.marko
Due: prettier --write, eslint

fix: non standard template literals filter out null & undefined (#1514)
  packages/marko/src/core-tags/migrate/all-templates/non-standard-template-literals.js
  packages/marko/test/compiler/fixtures-html-deprecated/attr-escape/expected.js
  packages/marko/test/compiler/fixtures-html-deprecated/attr-placeholder-escapeXml/expected.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/components/test.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/prompts.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-n/template.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/components/test.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/prompts.js
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/non-standard-template-literals-prompt-y/template.marko
Due: prettier --write, eslint

chore(release): 4.18.50
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: always include nested contexts when serializing
  packages/marko/src/runtime/components/index.js
Due: prettier --write, eslint

chore: exclude changelog from prettier
  .prettierignore
Due: none

fix: always include nested contexts when serializing (#1515)
  packages/marko/src/runtime/components/index.js
Due: prettier --write, eslint

chore(release): 4.18.51
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

feat: all vnodes have owner components
  packages/marko/src/compiler/ast/Text/vdom/TextVDOM.js
  packages/marko/src/core-tags/core/html-comment-tag.js
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VComment.js
  packages/marko/src/runtime/vdom/VComponent.js
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VFragment.js
  packages/marko/src/runtime/vdom/VNode.js
  packages/marko/src/runtime/vdom/VText.js
  packages/marko/src/runtime/vdom/vdom.js
  packages/marko/test/api-compiler/fixtures/compileFileForBrowser-callback.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileFileForBrowser.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileForBrowser-callback.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileForBrowser.js/expected.js
  packages/marko/test/compiler/fixtures-vdom-deprecated/control-flow/expected.js
  packages/marko/test/compiler/fixtures-vdom/macro-in-loop/expected.js
  packages/marko/test/compiler/fixtures-vdom/script-placeholders/expected.js
  packages/marko/test/compiler/fixtures-vdom/simple/expected.js
  packages/marko/test/components-compilation/fixtures-vdom/component-with-import-static/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/attrs-dynamic-object-literal/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/attrs-dynamic/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/simple/expected.js
  packages/marko/test/vdom-compiler/fixtures/attr-class-expression/expected.js
  packages/marko/test/vdom-compiler/fixtures/attrs-dynamic-object-literal/expected.js
  packages/marko/test/vdom-compiler/fixtures/attrs-dynamic/expected.js
  packages/marko/test/vdom-compiler/fixtures/dynamic-body-text/expected.js
  packages/marko/test/vdom-compiler/fixtures/no-escape/expected.js
  packages/marko/test/vdom-compiler/fixtures/simple/expected.js
  packages/marko/test/vdom-compiler/fixtures/static-element-nested/expected.js
Due: prettier --write, eslint

feat: all vnodes have owner components (#1517)
  packages/marko/src/compiler/ast/Text/vdom/TextVDOM.js
  packages/marko/src/core-tags/core/html-comment-tag.js
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VComment.js
  packages/marko/src/runtime/vdom/VComponent.js
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VFragment.js
  packages/marko/src/runtime/vdom/VNode.js
  packages/marko/src/runtime/vdom/VText.js
  packages/marko/src/runtime/vdom/vdom.js
  packages/marko/test/api-compiler/fixtures/compileFileForBrowser-callback.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileFileForBrowser.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileForBrowser-callback.js/expected.js
  packages/marko/test/api-compiler/fixtures/compileForBrowser.js/expected.js
  packages/marko/test/compiler/fixtures-vdom-deprecated/control-flow/expected.js
  packages/marko/test/compiler/fixtures-vdom/macro-in-loop/expected.js
  packages/marko/test/compiler/fixtures-vdom/script-placeholders/expected.js
  packages/marko/test/compiler/fixtures-vdom/simple/expected.js
  packages/marko/test/components-compilation/fixtures-vdom/component-with-import-static/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/attrs-dynamic-object-literal/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/attrs-dynamic/expected.js
  packages/marko/test/vdom-compiler/fixtures-deprecated/simple/expected.js
  packages/marko/test/vdom-compiler/fixtures/attr-class-expression/expected.js
  packages/marko/test/vdom-compiler/fixtures/attrs-dynamic-object-literal/expected.js
  packages/marko/test/vdom-compiler/fixtures/attrs-dynamic/expected.js
  packages/marko/test/vdom-compiler/fixtures/dynamic-body-text/expected.js
  packages/marko/test/vdom-compiler/fixtures/no-escape/expected.js
  packages/marko/test/vdom-compiler/fixtures/simple/expected.js
  packages/marko/test/vdom-compiler/fixtures/static-element-nested/expected.js
Due: prettier --write, eslint

chore(release): 4.19.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

chore(marko): remove VComment node which is no longer used
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VComment.js
  packages/marko/src/runtime/vdom/vdom.js
  packages/marko/test/async-vdom-builder/index.test.js
  packages/marko/test/vdom-create/fixtures/cloneNode-comment/expected.html
  packages/marko/test/vdom-create/fixtures/cloneNode-comment/index.js
  packages/marko/test/vdom-create/fixtures/comment/expected.html
  packages/marko/test/vdom-create/fixtures/comment/index.js
  packages/marko/test/vdom-create/index.test.js
  packages/marko/test/vdom-virtualize/fixtures/comment/input.html
  packages/marko/test/vdom-virtualize/fixtures/comment/virtualized-expected.html
  packages/translator-default/src/text/index[vdom].js
Due: prettier --write, eslint

chore(marko): remove VComment node which is no longer used (#1519)
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VComment.js
  packages/marko/src/runtime/vdom/vdom.js
  packages/marko/test/async-vdom-builder/index.test.js
  packages/marko/test/vdom-create/fixtures/cloneNode-comment/expected.html
  packages/marko/test/vdom-create/fixtures/cloneNode-comment/index.js
  packages/marko/test/vdom-create/fixtures/comment/expected.html
  packages/marko/test/vdom-create/fixtures/comment/index.js
  packages/marko/test/vdom-create/index.test.js
  packages/marko/test/vdom-virtualize/fixtures/comment/input.html
  packages/marko/test/vdom-virtualize/fixtures/comment/virtualized-expected.html
  packages/translator-default/src/text/index[vdom].js
Due: prettier --write, eslint

fix: support monkey patching lifecycle methods for legacy widgets
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/index.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/lifecycle-recorder.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/test.js
Due: prettier --write, eslint

fix: support monkey patching lifecycle methods for legacy widgets (#1521)
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/index.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/lifecycle-recorder.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/widget-lifecycle-events-stateful-conditional-bind-monkey-patched/test.js
Due: prettier --write, eslint

chore(release): 4.19.1
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: don't serialize input for stateful widgets
  packages/marko/src/runtime/components/legacy/renderer-legacy.js
Due: prettier --write, eslint

fix: don't serialize input for stateful widgets (#1522)
  packages/marko/src/runtime/components/legacy/renderer-legacy.js
Due: prettier --write, eslint

chore(release): 4.19.2
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: improve support for legacy widget for range
  packages/marko/src/compiler/CompileContext.js
  packages/marko/src/core-tags/migrate/for-tag.js
  packages/marko/test/migrate/fixtures/legacy-for-range-widget/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/legacy-for-range-widget/template.marko
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{json,css,md}) or (any of: *.js)
  eslint: any of: *.js
